.box{
    width: 100px;
    height: 100px;
    background-color: pink; border: 2px solid orange;
}
.box2{
    position: relative; /* 상대위치 */

    top: 50px; left: 50px; bottom: 0px; right: 0px;
    background-color: red;
}
.box5{
    position: absolute;
    top : 50px; left: 50px;
    background-color: blue;
}


/*  position: relative  상대위치: 자신의 원위치로 부터 기준
    position: absolute  절대위치: 부모의 위치 기준
    position: static    기본값: 작성순서대로 배치 [위치 속성X]
    position: fixed     고정위치 : 디바이스 화면에 위치 고정
    position: sticky     : 디바이스 화면으로부터 벗어나갔을때 위치 고정
     top, left, bottom , right
     z-index 우선순위 정할때 : 높을수록 z축 순서지정
    */


    .box8{
        position: static;  /* : static 작성 순서대로 [기본값] */
        top: 50px; left: 50px; /* 위치 좌표 사용 불가능 */
        background-color: aqua; 
    }
    .box11{
        position: fixed;
        background-color: brown;
        right: 10px; bottom: 10px;
    }
    .parent{
        position: relative;
    }
    .box14{
        position: absolute;
        background-color: blueviolet;
        top: 100px; left: 50px;
    }

