/* 기본 여백 제거 1. 직접 제거 2. css/cdn */

*{padding: 0; margin: 0;}
a{color: black; text-decoration: none;}

#body{background-color: #F5F6F7;  }


/* ================헤더============= */
#wrap{width: 500px; margin: 0 auto;}
#headerLogo{ text-align: center; padding: 50px 0px;} /* margin 50px 0px */
#headerLogo img{ height: 50px; }
/* =================본문============ */
.inputBox{
    background-color: whtie;
    border: 1px solid #dedede;
    padding: 10px;
    display: flex; flex-wrap: nowrap;
    align-items: center; /* 세로정렬 */

}

.inputBox input , select{
    border: none;
    background-color: white;
    height: 25px; width: 100%;
 
}
.inputBox input span{
    
}
.inputBox span{
    color: #aeeeee;
}

/*  포커스 : 커서가 깜박거림 상태.. */
*:focus{ outline: none; }

h3{
    margin: 20px 0px 5px 0px;
}

#pwicon{
    background-position-x: 0px;
    background-position-y: 0px;
    
}
#pwconfirmicon{
    background-position-x: -75px;
    background-position-y: 0px;
  
}
.inputicon{
    width: 25px; height: 25px;
    background-image: url(https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png);
    background-size: 120px 75px;
}
       
#birthaBox{
    display: flex; justify-content: space-between;
}
.birthy, .birthm, .birtho{
    width: 100px;
}
#inputbox{
    height: 100px;
}
.titleAt{
    font-size: 10px; color:aeeaeee;
}
#phonebox{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}
#phonebox > input{
    background-color: green;
    border: none; color: white;
    font-weight: bold;
    width: 100px;
}


#phonebox > div{
    width: 250px;
}
#inputauthBox{
    background-color: #F5F6F7;
    
}
#sigrupbtn{
    background-color: green;
    border: none; color: white;
    width: 100%; height: 50px;
    font-size: 20px; font-weight: bold;
    margin: 50px 0px;
}

#footerBox{ text-align: center;}
#ftTop{ font-size: 8px color #eaeeee;}
#ftbottom img{ height: 10px;}
#ftbottom span{ font-size: 5px;}