/*
  어디의{ 무엇을 : 어떻게; 무엇을 : 어떻게;}
  1. 어디의[선택자]
     1. * 2. 마크업 2. .class 4.#id
*/

.box1 { border : 1px solid red; } /* 두깨 선종류 색상 */

.box2 {
    border-top: solid 1px blue;
    border-right: dotted 2px  blue; 
    border-bottom: double 3px red;
    border-left: dashed 4px black;
} 
.box3 {
    border: solid 2px red;
    border-radius: 10px;     /* 둥근모서리*/
}

.box4 {
    border: solid 1px blue;
    padding: 10px;           /* 안쪽 여백 */
    margin: 20px;            /* 바깥 여백 */
}

.box5 {
    border: solid 1px pink;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 50px;

    margin-top: 50px; /* 위 바깥 여백 */
    margin-right: 50px; /* 오른쪽 바깥 여백 */
    margin-bottom: 60px; /* 아래쪽 바깥 여백 */
    margin-left: 100px; /* 왼쪽 바깥 여백 */
}

.box6{ 
    border: solid 1px blue;
    padding: 10px 20px 30px 40px; /* 위 오른쪽 아래쪽 왼쪽의 안쪽여백 */
    padding: 10px 20px; /* 위 /아래  왼쪽/ 오른쪽 의 안쪽 여백 */
    padding: 10px /* 위+오른쪽+아래쪽+왼쪽 의 안쪽 여백 */

    margin: 10px 20px 30px 40px;
    margin: 10px 20px;
    margin: 10px; 
}

.box7{
    width: 200px; /* 가로 사이즈 */
    height: 200px; /* 세로 사이즈 */
    /* box - sizing: content-box ; : 200+20+20+10+10 > 260 */
    /* box - sizing: border-box; : 200> 200px : 가로 사이즈에 테두리와 안쪽 여백 포함된 사이즈*/
    border: solid 25px red;
    box-sizing: border-box ;
    padding: 20px;  ;

    /* 내용 (content) 가운데정렬 */
    text-align: center; /* 가운데 정렬*/
    margin: 0 auto /* 가로 가운데 정렬*/
}

div{
    border: solid 1px red
    margin: 20px;
    background: blue;
}

span{
     background-color: orange; }

     .s1 {
        display: inline;
        width: 200px; height: 200px;

     }
     .s2 {
        display: block;
        width: 200px; height: 200px;

     }

     .s3{
        display: inline-block;
        width: 200px; height: 200px;
     }
     .s4{
        display: none;
        width: 200px; height: 200px;
     }


.d1 { display: inline; width: 200px; height: 200px;}
.d2 { display: inline; width: 200px; height: 200px;}
.d3 { display: inline-block; width: 200px; height: 200px;}
.d4 { display: none; width: 200px; height: 200px;}