body{
width: 1280px;
text-align: center;
margin: 0 auto;

}
#menu{
    margin-left: -700px;
}

#menu_1{
    color:  #8C6239 ;
    font-size: 30px;
    font-style: bold;
    margin-bottom: 25px;
    margin-left: -270px;
    margin-top: 50px;
}

span{
    color: red;
}
ul{
    display: flex;
    
}
#mainMenu{
    background-color: #F7F0E4;
    padding: 40px;
    margin: 50px;
    display: flex;
    justify-content: space-around;
    border: 1px dotted black;
    

}
p{
    font-size: 20px;
    color: #8C6239;
    
    
}
#menu_2{
    margin-left: -101px;
    color: orange;
    font-weight: bold;
    font-size: 30px;
    
    

}
#menuline{
 
}
#line{
    margin-top: 30px;
    margin-bottom: 40px;
}
#menu_3{
    color:  #8C6239 ;
    font-size: 30px;
    font-style: bold;
    margin-bottom: 25px;
    margin-left: -370px;
    margin-top: 50px;   
}
h4{
    margin-bottom: 6px;
    text-align: left;
    padding: 50px;
    color: #8C6239;
}
table{
    width: 1175px; height: 1000px;
    margin-left: 55px;
   
    text-align: left;
}

.aclass{
    color: red;
    width: 50px;
    padding: 30px;
    
}
.cclass, .bclass{
    background-color: #F4F4F4;
    padding: 29px;
    
}
.cclass{
    padding: 0px;
    height: 100px;
}